In [19]:
import pandas as pd
import numpy as np
from numpy import unique
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [20]:
#----------lets make the model for all patients-------------
data = pd.read_csv('../data/merged_patient0.csv')
for i in range(1,40):
    data = pd.concat([data, pd.read_csv('../data/merged_patient'+str(i)+'.csv')],ignore_index=True)

y = data['expected_glucose']
x = data[data.columns[:-1]]

print(x.shape)

#-----categorical data encoding ---------
cat = x[x.columns[-4:]]
print(cat.shape)
encode = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame((encode.fit_transform(cat)).toarray())
enc_df.columns = ['RTG_h','RTG_l','RTG_n','RF_n','liver_i','liver_n','liver_r','peripheral_i','peripheral_n','peripheral_r']
# print(enc_df.shape)

x.drop(x.columns[-4:],axis=1)
x = x.join(enc_df)

#-----x contains data without the time series-----
#-----y contains the values----------------

(3880, 30)
(3880, 4)

In [21]:
data

,Name,Weight(kg),t1,t2,t3,t4,t5,t6,c1,c2,...,hs4,hi1,hi2,hi3,hi4,RTG,RF,liver,peripheral,expected_glucose
0,Joy Wilson,70,800,1000,1200,1550,1800,2230,30,20,...,0,12,0,18,0,n,n,r,r,11.619184
1,Joy Wilson,70,800,1000,1200,1550,1800,2230,30,20,...,0,12,0,18,0,n,n,r,r,11.619184
2,Joy Wilson,70,800,1000,1200,1550,1800,2230,30,20,...,0,12,0,18,0,n,n,r,r,11.432975
3,Joy Wilson,70,800,1000,1200,1550,1800,2230,30,20,...,0,12,0,18,0,n,n,r,r,11.253553
4,Joy Wilson,70,800,1000,1200,1550,1800,2230,30,20,...,0,12,0,18,0,n,n,r,r,11.079970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3875,Peter Heinrichs,76,800,1000,1200,1550,1900,2230,20,20,...,0,12,0,18,0,n,n,n,n,8.182048
3876,Peter Heinrichs,76,800,1000,1200,1550,1900,2230,20,20,...,0,12,0,18,0,n,n,n,n,8.513512
3877,Peter Heinrichs,76,800,1000,1200,1550,1900,2230,20,20,...,0,12,0,18,0,n,n,n,n,8.946943
3878,Peter Heinrichs,76,800,1000,1200,1550,1900,2230,20,20,...,0,12,0,18,0,n,n,n,n,9.235427
3879,Peter Heinrichs,76,800,1000,1200,1550,1900,2230,20,20,...,0,12,0,18,0,n,n,n,n,9.340713

In [59]:
enc.categories_

[array(['h', 'l', 'n'], dtype=object),
 array(['n'], dtype=object),
 array(['i', 'n', 'r'], dtype=object),
 array(['i', 'n', 'r'], dtype=object)]